@model IEnumerable<App_Data.Models.SanPham>
@{
    Layout="_LayoutUser";
}

<div class="d-flex justify-content-center">
    <h1 class="fw-light">Sản phẩm</h1>
</div>
<div class="d-flex">
    <div class="row justify-content-Evenly mt-2 ps-5">
        @foreach (var item in Model)
        {
            <div class="rounded-3 m-3 position-relative p-0" style="width: 325px;">
                <span class="badge text-dark position-absolute">còn hàng</span>
                <div style="min-height:330px">
                    <img src="~/img/@item.Image" alt="@item.Image" style="width:100%" class="">
                </div>
                <div class="d-flex my-2 justify-content-center">
                    <div>
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="font-monospace">@Html.DisplayFor(modelItem => item.Price) đ</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        @using (Html.BeginForm("addCart", "SanPham", FormMethod.Post))
                        {
                            @Html.Hidden("id", item.ProductId) <!-- Thay yourIdValue bằng giá trị id thực tế -->
                            <div class="form-group">
                                <input type="submit"  value="Add to Cart" class="btn btn-dark text-light fw-bold rounded-pill" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
