<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - App_MVC</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/App_MVC.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/style.css">
</head>

<body>
	<div class="d-flex" id="wrapper">
		<!-- Sidebar-->
		<div class="border-end bg-dark" id="sidebar-wrapper">
			<div class="sidebar-heading border-bottom border-dark text-bg-dark">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
					<img style="width:200px" src="~/Logo/Logo_XL_Transparent.png" alt="dân chơi cổ ngữ">
				</a>
			</div>
			<div class="list-group list-group-flush">
				<a class="list-group-item list-group-item-action list-group-item-dark text-bg-dark p-3" asp-area=""
					asp-controller="Home" asp-action="Index">Home</a>
				<a class="list-group-item list-group-item-action list-group-item-dark text-bg-dark p-3" asp-area=""
					asp-controller="Home" asp-action="Privacy">Privacy</a>
				<a class="list-group-item list-group-item-action list-group-item-dark text-bg-dark p-3" asp-area=""
					asp-controller="User" asp-action="Index">Hiển thị danh sách user</a>
				<a class="list-group-item list-group-item-action list-group-item-dark text-bg-dark p-3" asp-area=""
					asp-controller="SanPham" asp-action="Index">Danh Sách Sản Phẩm</a>
				<a class="list-group-item list-group-item-action list-group-item-dark text-bg-dark p-3" asp-area=""
					asp-controller="ThuongHieu" asp-action="Index">Brand</a>
				<a class="list-group-item list-group-item-action list-group-item-dark text-bg-dark p-3" asp-area=""
					asp-controller="LoaiSP" asp-action="Index">Loại SP</a>
			</div>
		</div>
		<!-- Page content wrapper-->
		<div id="page-content-wrapper">
			<!-- Top navigation-->
			<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<div class="container-fluid">
					<button class="btn" id="sidebarToggle" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div>
						@{
							var message = ViewData["mes"];
						}
						<p>
							@message
						</p>
					</div>
				</div>
			</nav>
			<!-- Page content-->
			<div class="container-fluid">
				<main role="main" class="pb-3">
					@RenderBody()
				</main>
			</div>
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
