@{
    Layout = "_LayoutUser";
}
<div class="position-absolute top-0" style="z-index:-1;">
    <img src="~/img/430300298_3329108960569253_840799509299111945_n.jpg" alt="background này vjp"style="width:1519px"/>
</div>
